{% extends "layout.html" %}
{% block title %}
{{ decrees|length }} decretazos desde el año {{ years[0] }}
{% endblock %}
{% block body %}
  <h2>{{ decrees|length }} decretazos desde el año {{ years[0] }}</h2>
  <div class="row" id="grafica">
  <svg/>
  </div>
<br/>
    <div class="row well" id="ultimos">
  <h3>Últimos Decretos Ley</h3>
  <table class="table">
  <thead>
  <tr><th>Fecha</th><th>Título</th><th>Referencia en el BOE</th></tr>
  </thead>
  <tbody>
    {% for decree in decrees[:5] %}
      <tr><td>{{ decree['date'] }}</td><td>{{ decree['title'] }}</td><td><a target="blank" href="{{ decree['url'] }}">Ir al BOE</a></td></tr>
    {% endfor %}
  </tbody>
  </table>
  </div>
  <div class="row" id="que_es">
  <h3>¿Qué es un decreto ley?</h3>
  <p>
   <strong>La Constitución de 1978 define los Decretos Ley en su artículo 86</strong>:
   <ol>
      <li>En caso de extraordinaria y urgente necesidad, el Gobierno podrá dictar disposiciones legislativas provisionales que tomarán la forma de Decretos-leyes y que no podrán afectar al ordenamiento de las instituciones básicas del Estado, a los derechos, deberes y libertades de los ciudadanos regulados en el Título I, al régimen de las Comunidades Autónomas ni al Derecho electoral general. </li>
      <li>Los Decretos-leyes deberán ser inmediatamente sometidos a debate y votación de totalidad al Congreso de los Diputados, convocado al efecto si no estuviere reunido, en el plazo de los treinta días siguientes a su promulgación. El Congreso habrá de pronunciarse expresamente dentro de dicho plazo sobre su convalidación o derogación, para lo cual el reglamento establecerá un procedimiento especial y sumario. </li>
      <li>Durante el plazo establecido en el apartado anterior, las Cortes podrán tramitarlos como proyectos de ley por el procedimiento de urgencia.</li>
   </ol>
  </p>
  </div>
  


<script src="http://code.jquery.com/jquery.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./bootstrap/js/d3.v3.min.js"></script>
<script>


d3.csv("./bootstrap/js/decrets.csv", function(error, data) {

  data=data.reverse();

  data.forEach(function(d){
    d.year= +d.year;
    d.decrets= +d.decrets;
  });

 var chartHeight=450;
 var barWidth = 60;
 var chartWidth = barWidth * data.length;

 var chart = d3.select("svg")
     .attr("class", "chart")
     .attr("height", chartHeight+20)
     .attr("width", chartWidth+barWidth)
     .append("g")
     .attr("transform", "translate(20,20)");

  var maxDecrets=d3.max(data,function(d){return d.decrets;});

 var y = d3.scale.linear()
     .domain([0, maxDecrets])
     .range([0, chartHeight]);



 chart.selectAll("line")
     .data(y.ticks(10))
   .enter().append("line")
     .attr("y1", y)
     .attr("y2", y)
     .attr("x1", -20)
     .attr("x2", chartWidth);

 chart.selectAll("rect")
     .data(data)
   .enter().append("rect")
      .attr("y",function(d){return chartHeight-y(d.decrets); })
     .attr("x", function(d, i) { return i * barWidth; })
     .attr("height",function(d){return y(d.decrets); })
     .attr("width", barWidth);

chart.selectAll("text")
     .data(data)
   .enter().append("text")
     .attr("y",function(d){return chartHeight-y(d.decrets); })
     .attr("dy","10px")
     .attr("x", function(d, i) { return i * barWidth; })
     .attr("dx","2px")
     .text(function(d){ return d.decrets});

 chart.selectAll(".rule")
     .data(y.ticks(10))
   .enter().append("text")
     .attr("class", "rule")
     .attr("y", y)
     .attr("x", -20)
     .attr("dy", -3)
     .attr("dx", 10)
     .attr("text-anchor", "middle")
     .text(function(d){return maxDecrets-d;});

});

</script>
{% endblock %}