<!DOCTYPE html>
<html>
<head>
<title>Decretazo.com</title>
<meta charset="utf-8" />
<link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="./bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Decretazo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">Acerca de</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>


<div class="container" id="que_es">
 <div class="hero-unit">
<h4>¿Qué es un decreto ley?
<h6>
 La Constitución de 1978 define los Decretos Ley en su artículo 86:
 <ol>
    <li>En caso de extraordinaria y urgente necesidad, el Gobierno podrá dictar disposiciones legislativas provisionales que tomarán la forma de Decretos-leyes y que no podrán afectar al ordenamiento de las instituciones básicas del Estado, a los derechos, deberes y libertades de los ciudadanos regulados en el Título I, al régimen de las Comunidades Autónomas ni al Derecho electoral general. </li>
    <li>Los Decretos-leyes deberán ser inmediatamente sometidos a debate y votación de totalidad al Congreso de los Diputados, convocado al efecto si no estuviere reunido, en el plazo de los treinta días siguientes a su promulgación. El Congreso habrá de pronunciarse expresamente dentro de dicho plazo sobre su convalidación o derogación, para lo cual el reglamento establecerá un procedimiento especial y sumario. </li>
    <li>Durante el plazo establecido en el apartado anterior, las Cortes podrán tramitarlos como proyectos de ley por el procedimiento de urgencia.</li>
 </ol>
</h6>
</div>

<div class="row" id="ultimos">
<h3>Últimos Decretos Ley</h3>
<table class="table">
<thead>
<tr><th>Fecha</th><th>T</div>ítulo</th><th>URL BOE</th><th>Materias</th></tr>
</thead>
<tbody>
<tr><td>23/02/2013</td><td>Justicia. Tasas.</td><td><a href="http://boe.es/boe/dias/2013/02/23/pdfs/BOE-A-2013-2029.pdf">PDF</a></td><td>Justicia</td></tr>
</tbody>
<tfoot><tr><td colspan="4"><a href="">Ver todos</a></td></tr></tfoot>
</table>
</div>

<div class="row" id="grafica">
Aquí viene la gráfica
</div>

</div>

<body>
</html>
