<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} | Decretazo.com</title>
<meta charset="utf-8" />
<link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="./bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<style>

.chart {
  font: 10px sans-serif;
}

 .chart div {
   font: 10px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   margin: 1px;
   color: white;
 }

 .chart rect {
   stroke: white;
   fill: steelblue;
 }

 .chart line{stroke:#ccc;}

 #grafica{
  text-align: center;
 }

</style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Decretazo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for year in years %}
              <li><a href="{{ year }}">{{ year }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</div>
  <div class="container">
  <header>
    <div class="row">
      <div class="span6 well">
        <h1><a href="/"><img src="./img/decretazo-04.png"></a></h1>
      </div>
    </div>
  </header>
{% block body %}{% endblock %}
  <div class="row well" id="about">
    <h3>Acerca de decretazo.com</h3>
    <p>Somos un pequeño conjunto de programadores y diseñadores que arrancó el proyecto dentro participando en el hackathon <strong><a href="http://opendataday.org/">Open Data Day 2013</a></strong>. Somos <a href="https://twitter.com/mike_tnt" target="blank">Miguel Ángel</a>, <a href="https://twitter.com/ferorus" target="blank">Fernando</a>, <a href="https://twitter.com/borja3790" target="blank">Borja</a>, <a href="https://twitter.com/rrasmo" target="blank">Rafa</a>, <a href="https://twitter.com/XayOn" target="blank">David</a>, <a href="#">Ana</a> y <a href="https://twitter.com/dani_latorre" target="blank">Dani</a>.</p>
    <p><a href="https://github.com/danilat/decretazo" blank="target">El código fuente</a> está disponible para libre consulta, descarga y modificación bajo <strong>licencia MIT</strong>.</p>

    <p>Tenemos que agradecer a la <strong><a href="http://www.civio.es/">Fundación Civio</a></strong> el habernos dejarnos accesibles los htmls de los BOEs ya descargados, ayudándonos de este modo a adelantar trabajo.</p>
  </div>
  </div>
</body>
</html>