{% extends "layout.html" %}
{% block title %}
{{ decrees|length }} decretazos desde el año {{ years[0] }}
{% endblock %}
{% block body %}
<h2>{{ decrees|length }} decretazos en el año {{ year }}</h2>
<table class="table">
  <thead>
  <tr><th>Fecha</th><th>Título</th><th>Referencia en el BOE</th></tr>
  </thead>
  <tbody>
    {% for decree in decrees %}
      <tr><td>{{ decree['date'] }}</td><td>{{ decree['title'] }}</td><td><a target="blank" href="{{ decree['url'] }}">Ir al BOE</a></td></tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}